<?php include('top.php') ?>
<?php include('topmenu.php') ?>
<?php include('left.php') ?>

<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>


        <!-- Main content -->
        <section class="content">
        
       
          <!-- Info boxes -->
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box" ui-sref="index">
                <span class="info-box-icon bg-aqua"> <img src="images/aicon1.png" alt="#" style="display:block; margin:23px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                  <span class="info-box-number">HOME</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
        
        
        <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box" ui-sref="admin-list">
                <span class="info-box-icon bg-aqua"><img src="images/aicon2.png" alt="#" style="display:block; margin:21px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                   <span class="info-box-number">Manage Admin</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box" ui-sref="signupuser-list">
                <span class="info-box-icon bg-aqua"><img src="images/aicon3.png" alt="#" style="display:block; margin:29px auto; width:50px;"></span>
                <div class="info-box-content">
                  
                   <span class="info-box-number">Member Signup Leads</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box" ui-sref="contact-list">
                <span class="info-box-icon bg-aqua"><img src="images/aicon4.png" alt="#" style="display:block; margin:21px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                    <span class="info-box-number">Contact Leads </span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box" ui-sref="event-list">
                <span class="info-box-icon bg-aqua"><img src="images/aicon5.png" alt="#" style="display:block; margin:24px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                  <span class="info-box-number">Manage Events</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box" uisref="event-rsvp">
                <span class="info-box-icon bg-aqua"><img src="images/aicon6.png" alt="#" style="display:block; margin:21px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                  <span class="info-box-number">Event Rsvp</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            <!--<div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon7.png" alt="#" style="display:block; margin:27px auto; width:54px;"></span>
                <div class="info-box-content">
                  
                   <span class="info-box-number">upload banner</span>
                </div>&lt;!&ndash; /.info-box-content &ndash;&gt;
              </div>&lt;!&ndash; /.info-box &ndash;&gt;
            </div>
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon8.png" alt="#" style="display:block; margin:30px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                   <span class="info-box-number">configure mail</span>
                </div>&lt;!&ndash; /.info-box-content &ndash;&gt;
              </div>&lt;!&ndash; /.info-box &ndash;&gt;
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon9.png" alt="#" style="display:block; margin:24px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                  <span class="info-box-number" >log out</span>
                </div>&lt;!&ndash; /.info-box-content &ndash;&gt;
              </div>&lt;!&ndash; /.info-box &ndash;&gt;
            </div>
         
-->

              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box" ui-sref="logout">
                      <span class="info-box-icon bg-aqua"><img src="images/aicon9.png" alt="#" style="display:block; margin:24px auto; width:48px;"></span>
                      <div class="info-box-content">

                          <span class="info-box-number" >log out</span>
                      </div>
                  </div>
              </div>
            
          </div>

        </section><!-- /.content -->
      </div>
<?php include('footer.php') ?>
