

<div class="container-fluid gellary_top_block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="event_bannersloderbox">


                <div class="event_bannerbg"><img src="images/gellary_banner.png" alt="#"></div>

                <div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
                <div class="logo">
                    <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
                </div>

                <img src="images/newgalleryheading.png" alt="#" class="gellary_bannertextnew">

                <img src="images/gellary_banner_drone.png" alt="#" class="event_bannerdrone">

            </div>

        </div>
    </div>
</div>

<div class="clear"></div>




<div class="container newgalleryblocktop">
   <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     
     <div class="gallerytopleftsearch">
     <div class="stockphoto_selectoption">
     <select>
     <option>Images</option>
      <option>Videos</option>
     </select>
     
     </div>
     
     <div class="stockphoto_inputoption">
     <input type="text" ng-model="searchkey" placeholder="Find Your Picture Image…"  class="stockphotosearch"/>
    <input type="button"  class="stockphotobtn"/> 
          <div class="clear"></div>
     </div>
     
   
     <div class="clear"></div>
     </div>
     
     
   <!--  <a href="javascript:void(0)" class="filter_results">Filter Results</a>-->
     

<div class="clear"></div>

     </div>
        
     <div class="clear"></div>
     <div class="stock-photo_topblock2">
     

     
    <!-- <div class="divclass1">
     <label>Orientation</label>
     <img src="images/stockphoto_icon2.png" alt="#">
     
     </div>-->
     
     <div class="divclass2">
     <label>Category</label>
    <!-- <select ng-options="item.cat_name for item in categorylist track by item.id">-->

         <select  ng-model="categoryid"   ng-options="item as item.cat_name for item in categorylist track by item.id"  >
             <!--<option value="" >All</option>-->
             <!--<option value="item.id" >{{item.cat_name}}</option>-->

         </select>


<!--         <select    ng-options="item.cat_name for item in categorylist track by item.id"  >
             <option value="" >All</option>

         </select>

     <option>All</option>
     <option>All</option>
-->


     
     </div>
     

     
     
     
       
     
     <!--<div class="divclass3">
     <label>Exclude a Keyword</label>
     <input type="text" />
     
     </div>-->
     
     <div class="divclass4">
     <label>Contributor</label>
     <input type="text" />
     
     </div>
     

     
    <!-- <div class="sptop2_block3">
     <label>Image Type</label>
     
     
     <a href="javascript:void(0)" class="activeimgtype">Photos</a>
     
      <a href="javascript:void(0)">Vectors</a>
       <a href="javascript:void(0)">Illustrations</a>
     
          <div class="clear"></div>
     <div class="clear"></div>
     </div>-->
     
     
     
     <!--<div class="sptop2_block4">
     <label>Number of People</label>
     
     
     <a href="javascript:void(0)" class="activeimgnumber">1</a>
     
      <a href="javascript:void(0)">2</a>
       <a href="javascript:void(0)">+</a>
     
          <div class="clear"></div>
     <div class="clear"></div>
     </div>-->
     
     <div class="clear"></div>
     </div>
     
       <div class="stock-photo_topblock3">
       
     <!-- <div class="sptop3_block1">
       
       <p><strong>Lorem Ipsum</strong> Stock Photos <strong>(25,122, 503 Results)</strong></p>
       
       <span>Related :   <a href="javascript:void(0)">lorem ipsum</a>,   <a href="javascript:void(0)">dolor</a>,   <a href="javascript:void(0)">sit amet</a>,   <a href="javascript:void(0)">demo</a></span>

       </div>-->
       
      <!-- <div class="sptop3_block2">
       
       <select>
       <option>Most Popular</option>
        <option>Most Popular</option>
         <option>Most Popular</option>
       </select>
       
       <select>
       <option>Any License</option>
         <option>Any License</option>
        <option>Any License</option>
       </select>
       
       <select>
       <option>Any License</option>
        <option>Any License</option>
         <option>Any License</option>
       </select>
    
        <div class="clear"></div>
       </div>
       
        <div class="sptop3_block3">
              <a href="javascript:void(0)">Next Page</a>
        </div>-->
       
            <div class="clear"></div>
       </div>
     
     
     
  </div>
</div>





<div class="container-fluid  galleryimgblock">
   <div class="row">
   
   
    <div class="galleryrow1">


        <span ng-repeat="itemphoto  in productlist | filter:searchkey" >

            <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv" ng-if="itemphoto.category_id==categoryid.id || (categoryid.id==0) "  >
                <div class="  galleryblocksrc" >
                    <!-- <img  src="images/demoimg.jpg" alt="#" class="gallerysrcimg" >-->
                    <img  src="http://admin.jungledrones.com/imguploadproduct/{{itemphoto.id}}" imgsrc="{{itemphoto.image_url}}" alt="#" ng-click="showmodal($event)" class="gallerysrcimg" >

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
                        <tr>
                            <td align="right" valign="middle"> <a href="javascript:void(0)"><img ng-click="showmodal($event)" imgsrc="{{itemphoto.image_url}}" src="images/stockphoto_hovericon1.png" alt="#"></a></td>
                            <td align="left" valign="middle"> <a href="javascript:void(0)"><img ui-sref="stock-details({id:itemphoto.id})"  src="images/stockphoto_hovericon2.png" alt="#"></a></td>
                        </tr>
                    </table>

                </div>

            </div>

        </span>



<!--
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
-->
   </div>
     
     
<!--
     <div class="galleryrow2">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   </div>
   
   <div class="galleryrow3">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv1">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv2">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv3">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv4">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv5">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   </div>

<div class="galleryrow1">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallerybox  galleryimgdiv">
      <div class="galleryblocksrc">
     <img src="images/demoimg.jpg" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon1.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   </div>
-->

        <div class="clearfix"></div>
        
        
        
  </div>
  
</div>      




<div id="gallerymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <!--    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
               
            </div>-->
            <div class="modal-body">
            
             <button type="button" class="close" data-dismiss="modal"><img  alt="#" src="images/galleryclose.png"></button>
                <h2><img  alt="#" src="images/anim-loading.jif"></h2>
               <!-- <p>Thank you for your RSVP to one of our incredible Jungle Drones events!</p>-->
               <div class="watermark2"></div>
            </div>

        </div>

