

<div class="container-fluid gellary_top_block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="event_bannersloderbox">


                <div class="event_bannerbg"><img src="images/gellary_banner.png" alt="#"></div>

                <div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
                <div class="logo">
                    <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
                </div>

                <img src="images/newgallerytext.png" alt="#" class="gellary_bannertext2">

                <img src="images/gellary_banner_drone.png" alt="#" class="event_bannerdrone">

            </div>

        </div>
    </div>
</div>

<div class="clear"></div>

<div class="gallerybody">


<div class="services_heading"><div><label><h3  style="font-size:22px;"><span>Get instant access to specialized images exclusively taken by</span> JungleDrones.</h3></label></div></div>

<div class="gallery_search_body">
    
    <div class="search_div">
    <form>
    <input type="text" class="searchinput" placeholder="Search Images" />
    <input type="button"  class="searchbtn"/>
    
   <div class="clear"></div>
    
    </form>
    
    </div>
    
    </div>

    <div class="container imagegallery">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>IMAGE GALLERY</h2>
                <div class="gallery_image_block">
                    <div class="gallerybox imgbx1" ng-click="showmodal($event)">
                        <!--width:800px; height:595px;-->

                        <div class="galleryimage">
                            <img src="images/g_img1.png"  alt="#"/>
                            
                        </div>
                        
                        
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="watermark1">
                            <tr>
                                <td align="center" valign="middle">
                                     <img src="images/watermark1.png"  alt="#" />
                                </td>
                            </tr>
                        </table>
                        
                        
                       
                         
                         
           <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="imgtd" imgsrc="images/g_img1.png" align="center" valign="middle">
                                    <img src="images/imgicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="gallerybox imgbx2" ng-click="showmodal($event)">
                        <!-- width:390px; height:595px; -->
                        <div class="galleryimage">
                            <img src="images/g_img2.png"  alt="#"/>
                        </div>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="watermark1">
                            <tr>
                                <td align="center" valign="middle">
                                     <img src="images/watermark1.png"  alt="#" />
                                </td>
                            </tr>
                        </table>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="imgtd" imgsrc="images/g_img2.png" align="center" valign="middle">
                                    <img src="images/imgicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="gallerybox imgbx3" ng-click="showmodal($event)">
                        <!--width:366px; height:298px;-->
                        <div class="galleryimage">
                            <img src="images/g_img3.png"  alt="#"/>
                        </div>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="watermark1">
                            <tr>
                                <td align="center" valign="middle">
                                     <img src="images/watermark1.png"  alt="#" />
                                </td>
                            </tr>
                        </table>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                               <td class="imgtd" imgsrc="images/g_img3.png" align="center" valign="middle">
                                    <img src="images/imgicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class=" gallerybox imgbx4" ng-click="showmodal($event)">
                        <!--width:366px; height:298px;-->
                        <div class="galleryimage">
                            <img src="images/g_img4.png"  alt="#"/>
                        </div>
                         <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="watermark1">
                            <tr>
                                <td align="center" valign="middle">
                                     <img src="images/watermark1.png"  alt="#" />
                                </td>
                            </tr>
                        </table>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                               <td class="imgtd" imgsrc="images/g_img4.png" align="center" valign="middle">
                                    <img src="images/imgicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="gallerybox imgbx5" ng-click="showmodal($event)">
                        <!-- width: 448px; height:298px;-->
                        <div class="galleryimage">
                            <img src="images/g_img5.png"  alt="#"/>
                        </div>
                         <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="watermark1">
                            <tr>
                                <td align="center" valign="middle">
                                     <img src="images/watermark1.png"  alt="#" />
                                </td>
                            </tr>
                        </table>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                               <td class="imgtd" imgsrc="images/g_img5.png" align="center" valign="middle">
                                    <img src="images/imgicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    
    
  <!--  <div class="container imagegallery">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>VIDEO GALLERY</h2>
                <div class="gallery_image_block">

                    <div class="gallerybox imgbx6">
                      
                        <div class="galleryimage">
                            <img src="images/g_video1.png"  alt="#"/>
                        </div>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">
                                    <img src="images/videoicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="gallerybox imgbx7">
                       
                        <div class="galleryimage">
                            <img src="images/g_video2.png"  alt="#"/>
                        </div>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">
                                    <img src="images/videoicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="gallerybox imgbx8">
                      
                        <div class="galleryimage">
                            <img src="images/g_video3.png"  alt="#"/>
                        </div>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">
                                    <img src="images/videoicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="clearfix"></div>

                    <div class="gallerybox imgbx9">
                     
                        <div class="galleryimage">
                            <img src="images/g_video4.png"  alt="#"/>
                        </div>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">
                                    <img src="images/videoicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="gallerybox imgbx10">
                      
                        <div class="galleryimage">
                            <img src="images/g_video5.png"  alt="#"/>
                        </div>
                        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">
                                    <img src="images/videoicon.png"  alt="#" style="width:24px;"/>
                                    <strong>LOREM IPSUM DOLOR</strong>
                                    <span>LOREM IPSUM DOLOR</span>

                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>-->

</div>



<div id="gallerymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <!--    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

               
            </div>-->
            <div class="modal-body">
            
             <button type="button" class="close" data-dismiss="modal"><img  alt="#" src="images/galleryclose.png"></button>
                <h2><img  alt="#" src="images/anim-loading.jif"></h2>
               <!-- <p>Thank you for your RSVP to one of our incredible Jungle Drones events!</p>-->
               <div class="watermark2"></div>
            </div>

        </div>

    </div>
</div>