

<div class="container-fluid event_top_block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="event_bannersloderbox">


                <div class="event_bannerbg"><img src="images/event_banner.png" alt="#"></div>

                <div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
                <div class="logo">
                    <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
                </div>

                <img src="images/product_banner_text.png" alt="#" class="event_bannertext">

                <img src="images/events_banner_drone.png" alt="#" class="event_bannerdrone">

            </div>

        </div>
    </div>
</div>

<div class="clear"></div>


<div class="container product_body_container">

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product_body_section_odd">
            <h4>Item Number:  H107C+</h4>

            <div class="productbody_main">

                <div class="product_textblock">
                    <p>
                        <strong> Name:  X 4 Mini Quadcopter Camera Plus</strong><br />
                        <br />


                        Description:  Lightweight airframe with nice durability<br />

                        Latest 6-axis flight control system with adjustable gyro sensitivity<br />
                        Permits super stable flight, flying outdoor<br />
                        Motor(X4): 0820 Coreless<br />
                        Frequency: 2.4GHz + 5.8GHz (Video transmission)<br />
                        Transmitter: 2.4GHz 4 channels vs 4.3 Inch LCD<br />
                        Control distance: 50 - 100meters<br />
                        Live video distance: around 100 meters<br />
                        Battery: 3.7V Voltage, 380mAh li-po battery with auto cut off safety PCB<br />
                        Charging time: about 30 minutes<br />
                        Flight time: around 7 minutes<br />
                        USB charging cable allows to charge by computer or wall charger<br />
                        Camera: 0.3M pixels camera included, resolution: 640 x 480<br />
                        Instant video review on transmitter<br />
                        Memory card: SD card inserted in TX, Micro SDHC class6 2-16G (option)<br />
                        4 night LED lights & rubber feet<br /><br />

                        Price (US Dollar): $46.00<br /><br />

                        pcs/ctn:  12<br /><br />

                        Packing:  Gift box size:35.5*18*9cm<br />
                        0.6kgs/box<br />
                        12pcs/carton<br />
                        carton size:57*37.5*38cm

                    </p>


                </div>

                <div class="product_imageblock">
                    <img src="images/product_body_img1.png"  alt="#" class="img1"/>

                    <h2><span>2.4</span> GHZ  RC SERIES</h2>

                    <div class="product_image_text">
                        <span><label>EASY TO CONTROL</label></span>

                    </div>

                    <img src="images/product_body_img2.png"  alt="#" class="img2"/>

                    <h4 class="h4text1">H107C+</h4>
                    <h5 class="h5text1">Hubsan x4 cam plus</h5>

                </div>

                <div class="clear"></div>

                <a href="javascript:void(0)" class="orderbtn"> Order Now </a>

                <div class="clear"></div>


            </div>


        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product_body_section_even">
            <h4>Item Number:  H107D+</h4>

            <div class="productbody_main">

                <div class="product_textblock">
                    <p>
                        <strong>Name:  X 4 Mini Quadcopter Camera Plus</strong><br />
                        <br />


                        Description: Lightweight airframe with nice durability Altitude Hold function, <br />
                        easy to learn<br />
                        Latest 6-axis flight control system with adjustable gyro sensitivity<br />
                        Size: 106*106*40mm<br />
                        Permits super stable flight, flying outdoor<br />
                        Motor(X4): 0820 Coreless<br />
                        Frequency: 2.4GHz + 5.8GHz (Video transmission)  <br />
                        Camera: camera included, Resolution: 1280*720<br />
                        Transmitter: 2.4GHz 4 channels vs 4.3 Inch LCD<br />
                        Control distance: 50 - 150meters<br />
                        Live video distance: around 100 meters<br />
                        Battery: 3.7V Voltage, 530mAh li-po battery with auto cut off safety PCB<br />
                        Charging time: about 60 minutes<br />
                        Flight time: around  6 minutes<br />
                        USB charging cable allows to charge by computer or wall charger<br />
                        Instant video review on transmitter<br />
                        Memory card: SD card inserted in TX, Micro SDHC class6 2-16G (option)<br />
                        4 night LED lights & rubber feet  & protection cover<br /><br />

                        Price (US Dollar): $ 110 .00<br /><br />

                        pcs/ctn:  12<br /><br />

                        Packing:  gift box size:21.8*13.8*22.5cm<br />
                        0.8kgs/box<br />
                        12pcs/carton<br />
                        carton size:45.3*44*47.5cm<br />
                        10.8kgs/carton<br />
                        0.095CBM/CTN<br />
                        8kgs/carton<br />
                        0.0812CBM/CTN


                    </p>


                </div>

                <div class="product_imageblock">
                    <img src="images/product_body_img4.png"  alt="#" class="img1"/>

                    <h2><span>First</span>  Person View</h2>

                    <div class="product_image_text">
                        <span><label>FPV MINI QUADCOPTER</label></span>

                    </div>

                    <img src="images/product_body_img3.png"  alt="#" class="img2"/>

                    <h4 class="h4text1">H107D+</h4>
                    <h5 class="h5text1">Hubsan FPV X4 PLUS</h5>

                </div>

                <div class="clear"></div>

                <a href="javascript:void(0)" class="orderbtn"> Order Now </a>

                <div class="clear"></div>


            </div>


        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product_body_section_odd">
            <h4>Item Number:  H107D</h4>

            <div class="productbody_main">

                <div class="product_textblock">
                    <p>
                        <strong> Name:  X 4 Mini Quadcopter Camera Plus</strong><br />
                        <br />


                        Description:  Lightweight airframe with nice durability<br />
                        Latest 6-axis flight control system with adjustable gyro sensitivity<br />
                        Permits super stable flight, flying outdoor<br />
                        Motor(X4): 0820 Coreless<br />
                        Frequency: 2.4GHz + 5.8GHz (Video transmission)<br />
                        Transmitter: 2.4GHz 4 channels vs 4.3 Inch LCD<br />
                        Control distance: 50 - 100meters<br />
                        Live video distance: around 100 meters<br />
                        Battery: 3.7V Voltage, 380mAh li-po battery with auto cut off safety PCB<br />
                        Charging time: about 30 minutes<br />
                        Flight time: around 7 minutes<br />
                        USB charging cable allows to charge by computer or wall charger<br />
                        Camera: 0.3M pixels camera included, resolution: 640 x 480<br />
                        Instant video review on transmitter<br />
                        Memory card: SD card inserted in TX, Micro SDHC class6 2-16G (option)<br />
                        4 night LED lights & rubber feet<br /><br />

                        Price (US Dollar): $ 90 .00<br /><br />

                        pcs/ctn:  12<br />
                        Packing:  gift box size:22.5*21.5*13.8cm<br />
                        10.5kgs/box<br />
                        12pcs/carton<br />
                        carton size:45.3*44*47.2cm<br />
                        0.1CBM/CTN

                    </p>


                </div>

                <div class="product_imageblock">


                    <img src="images/productimg4.png"  alt="#" class="img4"/>

                    <h4 class="h4text2">HUBSAN FPV X4</h4>
                    <h5 class="h5text2">WORLD'S SMALLEST FPV QUADCOPTER</h5>

                </div>

                <div class="clear"></div>

                <a href="javascript:void(0)" class="orderbtn"> Order Now </a>

                <div class="clear"></div>


            </div>


        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product_body_section_even">
            <h4>Item Number:  H501S</h4>

            <div class="productbody_main">

                <div class="product_textblock">
                    <p>
                        <strong>Name:  X4 FPV brushless</strong><br />
                        <br />


                        Description:  The quadcopter has built-in GPS,Headless and Follow <br />
                        me functions.<br />
                        Quad copter Size:220*220*70mm<br />
                        Weight(including the battery):410g<br />
                        Battery: 7.4V 2700mAh Lipo. 105g<br />
                        Max current: 16A<br />
                        Rotor size:185mm (7.3 inches )<br />
                        Wheelbase:311mm<br />
                        Motor: brushless  KV1650 PM1806  x4<br />
                        ESC: brushless 12A x4<br />
                        Built-in HD camera. Resolution:1080P<br />
                        FOV: 90&deg; wide Angle<br />
                        4 LED indicators &Rubber feet<br />
                        Max Flight radius:300m<br />
                        5.8G wireless video transmission distance:300m<br />
                        Memory card: 4G TF card. Max support: 64G card<br />
                        Flight time: around 19 minutes<br />
                        Charging time: around 150 minutes<br />
                        Adaptor included<br /><br />

                        2.4G FPV Transmitter<br />
                        Battery: 4*AA (Not included)<br />
                        4.3 inches LCD (resolution: 480*272)<br /><br />

                        Price (US Dollar): $ 220 .00<br /><br />

                        pcs/ctn:  4<br />
                        Packing:  Gift box size:475*310*150mm<br />
                        4pcs/carton<br />
                        NW.:6.4kgs<br />
                        GW:7.35kgs<br />
                        carton size:60*34.5*33cm<br />
                        0.069CBM/CTN


                    </p>


                </div>

                <div class="product_imageblock" style="padding:0;">
                    <img src="images/product_body_img7.png"  alt="#" class="img5"/>

                    <h2><span>H501sx4</span>  fpv brushless</h2>



                    <img src="images/product_body_img8.png"  alt="#" class="img6"/>

                    <h4 class="h4text1">H107D+</h4>
                    <h5 class="h5text1">Hubsan FPV X4 PLUS</h5>

                </div>

                <div class="clear"></div>

                <a href="javascript:void(0)" class="orderbtn"> Order Now </a>

                <div class="clear"></div>


            </div>


        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product_body_section_odd">
            <h4>Item Number:  H107P</h4>

            <div class="productbody_main">

                <div class="product_textblock">
                    <p>
                        <strong> Name:  X 4  Plus</strong><br />
                        <br />

                        Description:  Motor (x4): 0720RN57A-9M-130NL52<br />

                        Frequency: 2.4GHz<br />
                        With 4 channels  Altitude Hold function, easy to learn<br />
                        Battery:    Voltage: 3.7V  Capacity: 530mAh<br />
                        Flight time: around 11 minutes    Control distance:around 100 metres<br />
                        Latest 6-axis flight control system with adjustable gyro sensitivity<br />
                        Permits super stable flight<br />
                        Lightweight airframe with nice durability<br />
                        USB charging cable allows to charge by computer<br />
                        4 rubber feet & LED lights(2 blue,2 white)     Size: 106*106*35mm<br /><br />

                        Price (US Dollar): $ 27 .00<br /><br />

                        pcs/ctn:  12<br /><br />

                        Packing:  gift box size:35.5*18*9cm<br />
                        0.6kgs/box<br />
                        carton size:57*37.5*38cm<br />
                        7.8kgs/ctn<br />
                        0.0812CBM/CTN

                    </p>


                </div>

                <div class="product_imageblock">
                    <img src="images/product_body_img9.png"  alt="#" class="img1"/>

                    <h2><span>Lightweight</span> airframe</h2>

                    <div class="product_image_text">
                        <span><label>FRIST ADN EASY</label></span>

                    </div>

                    <img src="images/product_body_img10.png"  alt="#" class="img2"/>

                    <h4 class="h4text3"><span style="font-size:18px;">No</span> H107p</h4>
                    <h5 class="h5text3">Hubsan x4  plus</h5>

                </div>

                <div class="clear"></div>

                <a href="javascript:void(0)" class="orderbtn"> Order Now </a>

                <div class="clear"></div>


            </div>


        </div>

    </div>
</div>



